# MOVIE REVIEW SENTIMENT ANALYSIS (NLP Project)

The main aim of this project is to identify the sentiment of the review for a movie. The data is downloaded from KAGGLE.

The link to download the data:
https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [1]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/IMDB Dataset.csv')

In [ ]:
df['review'][1]

In [ ]:
df['sentiment'].value_counts() #we can see that the dataset is balanced

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [ ]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [ ]:
df.duplicated().sum()

418

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

0

# Basic Preprocessing

In [6]:
# Remove tags
# Remove URLS
# lowercase
# Revomve emojis
# Remove stopwords

In [ ]:
# Remove tags

import re
def remove_tags(raw_text):
    cleaned_text = re.sub(re.compile('<.*?>'), '', raw_text)
    return cleaned_text

In [ ]:
df['review'] = df['review'].apply(remove_tags)

In [ ]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. The filming tec...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[49582 rows x 2 columns]

In [ ]:
#Remove URLS 

import re
def remove_urls (vTEXT):
    vTEXT = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', vTEXT, flags=re.MULTILINE)
    return(vTEXT)

In [ ]:
df['review'] = df['review'].apply(remove_urls)

In [ ]:
#LOWER CASING

df['review'] = df['review'].apply(lambda x:x.lower())

In [ ]:
#STOP WORDS REMOVAL

#from nltk.corpus import stopwords
#sw_list = stopwords.words('english')

In [ ]:
#f['review'] = df['review'].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [ ]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[49582 rows x 2 columns]

In [ ]:
#EMOJI REMOVAL

import re
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

In [ ]:
df['review'] = df['review'].apply(deEmojify)

In [ ]:
#Tokenization

#from nltk.tokenize import word_tokenize

#df['review']= df['review'].apply(lambda text: word_tokenize(text))
#df.head()

In [ ]:
#Stemming
#from nltk.stem.porter import PorterStemmer
#stemmer = PorterStemmer()

#def stem_words(text):
#    stem_text = [stemmer.stem(word) for word in text]
#    return stem_text

#df['review'] = df['review'].apply(lambda text: stem_words(text))
#df.head()

In [ ]:
X = df.iloc[:,0:1]
y = df['sentiment']

In [ ]:
X

                                                  review
0      one of the other reviewers has mentioned that ...
1      a wonderful little production. the filming tec...
2      i thought this was a wonderful way to spend ti...
3      basically there's a family where a little boy ...
4      petter mattei's "love in the time of money" is...
...                                                  ...
49995  i thought this movie did a down right good job...
49996  bad plot, bad dialogue, bad acting, idiotic di...
49997  i am a catholic taught in parochial elementary...
49998  i'm going to have to disagree with the previou...
49999  no one expects the star trek movies to be high...

[49582 rows x 1 columns]

In [ ]:
y

0        positive
1        positive
2        positive
3        negative
4        positive
           ...
49995    positive
49996    negative
49997    negative
49998    negative
49999    negative
Name: sentiment, Length: 49582, dtype: object

In [ ]:
#After Labelling the data

In [ ]:
import pickle
import xgboost
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score,confusion_matrix

gnb = GaussianNB()
cv = CountVectorizer()
xgb = XGBClassifier()
encoder = LabelEncoder()
tfidf = TfidfVectorizer()
rf = RandomForestClassifier()


y = encoder.fit_transform(y)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
def Bow(train_reviews,test_reviews):
    cv = CountVectorizer(max_features=1000)
    X_train_bow = cv.fit_transform(train_reviews).toarray()
    X_test_bow = cv.transform(test_reviews).toarray()
    
    return X_train_bow,X_test_bow

def bigram(train_reviews,test_reviews):
    cv = CountVectorizer(ngram_range=(1,2),max_features=1000)
    X_train_bigram = cv.fit_transform(train_reviews).toarray()
    X_test_bigram = cv.transform(test_reviews).toarray()
    
    return X_train_bigram,X_test_bigram

def ngram(train_reviews,test_reviews,n):
    cv = CountVectorizer(ngram_range=(1,n),max_features=1000)
    X_train_ngram = cv.fit_transform(train_reviews).toarray()
    X_test_ngram = cv.transform(test_reviews).toarray()
    
    return X_train_ngram,X_test_ngram

#TFIDF
def tf(train_reviews,test_reviews):
    tfidf = TfidfVectorizer(max_features=1000)
    X_train_tfidf = tfidf.fit_transform(train_reviews).toarray()
    X_test_tfidf = tfidf.transform(test_reviews)
    
    return X_train_tfidf,X_test_tfidf

In [ ]:
#Models

def RandomForest(X_train_bow,X_test_bow,y_train):
    rf = RandomForestClassifier()
    rf.fit(X_train_bow,y_train)
    #with open('rf.pickle', 'wb') as f:
     #pickle.dump(rf, f)
    y_pred = rf.predict(X_test_bow)
    accuracy=accuracy_score(y_test,y_pred)

    return accuracy

def Gaussian(X_train_gaus,X_test_gaus,y_train):
    gnb = GaussianNB()
    gnb.fit(X_train_gaus,y_train)
    #with open('nb.pickle', 'wb') as f:
     #pickle.dump(rf, f)
    y_pred = gnb.predict(X_test_gaus)
    accuracy=accuracy_score(y_test,y_pred)
    
    return accuracy

def SVM(X_train_bow,X_test_bow,y_train):
    from sklearn import svm
    clf = svm.SVC(C=config['SVM']['C'])
    clf.fit(X_train_bow,y_train)
    #with open('svm.pickle', 'wb') as f:
     #pickle.dump(rf, f)
    y_pred = clf.predict(X_test_bow)
    accuracy=accuracy_score(y_test,y_pred)
    
    return accuracy

def Xgboost(X_train_gaus,X_test_gaus,y_train):
    xgb = XGBClassifier()
    xgb.fit(X_train_gaus,y_train)
    #with open('xgb.pickle', 'wb') as f:
     #pickle.dump(rf, f)
    y_pred = xgb.predict(X_test_gaus)
    accuracy=accuracy_score(y_test,y_pred)
    
    return accuracy

Random Forest

In [ ]:
X_train_bow,X_test_bow=Bow(X_train['review'],X_test['review'])
accuracy=RandomForest(X_train_bow,X_test_bow,y_train)
print(accuracy)

0.8440052435212262

In [ ]:
#pickled_model = pickle.load(open('model_rf_bow.pkl', 'rb'))
#y_pred = pickled_model.predict(X_test_bow)
#accuracy=accuracy_score(y_test,y_pred)
#print(accuracy)

In [ ]:
X_train_bigram,X_test_bigram=bigram(X_train['review'],X_test['review'])
accuracy=RandomForest(X_train_bigram,X_test_bigram,y_train)
print(accuracy)

0.8305939296158112

In [ ]:
n=3
X_train_ngram,X_test_ngram=ngram(X_train['review'],X_test['review'],n)
accuracy=RandomForest(X_train_ngram,X_test_ngram,y_train)
print(accuracy)

0.8231319955631744

In [ ]:
X_train_tfidf,X_test_tfidf=tf(X_train['review'],X_test['review'])
accuracy=RandomForest(X_train_tfidf,X_test_tfidf,y_train)
print(accuracy)

0.8298880709892105

Naive Bayes

In [ ]:
X_train_bow,X_test_bow=Bow(X_train['review'],X_test['review'])
accuracy=Gaussian(X_train_bow,X_test_bow,y_train)
print(accuracy)

0.8129474639507915

SVM

In [ ]:
X_train_bow,X_test_bow=Bow(X_train['review'],X_test['review'])
accuracy=SVM(X_train_bow,X_test_bow,y_train)
print(accuracy)

Xgboost

In [ ]:
X_train_bow,X_test_bow=Bow(X_train['review'],X_test['review'])
accuracy=Xgboost(X_train_bow,X_test_bow,y_train)
print(accuracy)

C:\Users\rakesh.doddamani\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:31:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.8432993848946254

In [ ]:
X_train_tfidf,X_test_tfidf=tf(X_train['review'],X_test['review'])
accuracy=Xgboost(X_train_tfidf,X_test_tfidf,y_train)
print(accuracy)

C:\Users\rakesh.doddamani\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:33:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.8408792981748513

#### Random forest and XGBoost algorithms with TFIDF as a vectorizer performed better when compared to other alogrithms

In [7]:
#Now Saving the model with pickle

with open('clf.pickle', 'wb') as f:
     pickle.dump(clf, f)

In [ ]:
# We can load the saved model with pickle
        
with open('clf.pickle', 'rb') as f:
     clf = pickle.load(f)